body {
    background-color: #ffe1e6;
}

.footer {
    padding: 2% 12%;
    display: flex;
    justify-content: space-around;

    &-alarm-button {

        border-radius: 5%;
        align-self: center;
        &:hover {
            cursor: pointer;
        }

    }

    &-logo-image {
        align-self: center;
    }
}